/*Reset*/
html {
   box-sizing: border-box;
}

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   font-family: "Times New Roman", sans-serif;
   color: #333333;
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 24px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
   display: inline-block;
   color: black;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
   display: inline-block;
   margin: 0;
   padding: 0;
}

img {
   vertical-align: top;
   max-width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/
body {
   background-color: #111;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 400px;
   flex-wrap: wrap;
}

.square {
   height: 15px;
   width: 15px;
   background: #1d1d1d;
   margin: 2px;
   box-shadow: 0 0 2px #000;
   transition: 2s ease;
}

.square:hover {
   transition-duration: 0s;
}
